# Topic 2 - Data Analytics and Visualization with Python

## Topic 2.1 Data Preparation

### Install Python Data Analysis Packages

In [ ]:
# These packagss have been pre-installed on Google Colab
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install pandas
!pip install scipy
!pip install sklearn
!pip install yfinance

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
import sklearn
import yfinance as yf

### Series

In Python, understanding Series is a natural predecessor to understanding dataframes.<br>
Series are indexed data frame with only one data column. It is easier to understand them first before moving to study complex data frames.
<br>
A series is a one-dimensional labelled 'array-like' object. The labels are nothing but the index of the data. <br>
Or <br>
A series is a special case of a two-dimensional array, which has only 2 columns- one column is for the index and the other column is for data.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = pd.Series(mkt_cap, index=stock_list)
print(s)
type(s)

In [ ]:
s.plot.barh()

##### <span style="color:black">Series.index</span>
It is useful to know the range of the index when the series is large.

In [ ]:
s.index

##### <span style="color:black">Series.values</span>
It returns the values of the series.

In [ ]:
s.values

##### <span style="color:black">Series.isnull()</span>
We can check for missing values with this method.

In [ ]:
s['UOB'] ='NaN'
s.isnull()

##### <span style="color:black">Series.dropna()</span>
One way to deal with the 'NaN' values is to drop them completely from the series. This method filters out missing data.

In [ ]:
s.dropna()

### Activity: Series

- Create a Pandas Series for the average buy price with stocks as index
- Plot the stock price vs stock list

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = _____________
s.plot.barh()
plt.xlabel('stock price')

### Solution: Series

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

s = pd.Series(avg_price, index=stock_list)
s.plot.barh()
plt.xlabel('stock price')

### DataFrame

The underlying idea of a dataframe is based on 'spreadsheets'. In other words, dataframes store data in discrete rows and columns, where each column can be named (something that is not possible in Arrays but is possible in Series). There are also multiple columns in a dataframe (as opposed to Series, where there can be only one discrete indexed column).

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "stock_name": stock_list,
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio)
my_portfolio_df

#### Import CSV Data

In [ ]:
# Import CSV file

import numpy as np
import pandas as pd

stock = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/DBS.csv')
stock.head()

In [ ]:
# Preparing Data to visualise
stock_close =stock[['Date', 'Open','Close']] 
stock_close.set_index('Date', inplace=True) 

# More on this in the upcoming section on 'Pandas'
stock_close

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
plt.plot(stock_close)
plt.xlabel('Days')
plt.ylabel('Close Price')
plt.show()

#### Import Yahoo Finance Data

In [ ]:
# Import Yahoo Finance file
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.tail()

In [ ]:
stock_close =stock[['Open','Close']]  
stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
plt.plot(stock_close)
plt.xlabel('Days')
plt.ylabel('Close and Open Price')
plt.show()

#### Activity: Import Finance Data

- Import Singtel stock data from the Yahoo Finance
- Plot the Singtel open and close date from 2017-01-01 to 2021-11-31

In [ ]:
start_date = _______________
end_date = _______________
ticker = ___________________
stock = _____________________
stock.tail()

In [ ]:
stock_close = _________________ 
stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
plt.plot(stock_close)
plt.grid(True)
plt.xlabel('Days')
plt.ylabel('Close and Open Price')
plt.show()

#### Solution: Import Finance Data

In [ ]:
import yfinance as yf

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)
stock.tail()

In [ ]:
stock_close =stock[['Open','Close']]  
stock_close.tail()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(14, 5))
plt.plot(stock_close)
plt.grid(True)
plt.xlabel('Days')
plt.ylabel('Close and Open Price')
plt.show()

### Customize index of the dataframe 

In the above output, you can see that the 'index' is the default one which starts from 0. One can customize this index.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,index=stock_list)

my_portfolio_df

#### Reset Index

In [ ]:
my_portfolio_df = my_portfolio_df.reset_index()
my_portfolio_df

#### Rename columns
 
If we want to rename the column names, while dealing with the dataframe we need to use the rename function

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,index=stock_list)

my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.rename(columns={'quantity_owned':'qty','average_buy_price':'buy_price'})
my_portfolio_df

### Rearrange the columns in a dataframe 

We can also define or change the order of columns.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned"],index=stock_list)

my_portfolio_df

#### Dataframe Attributes

In [ ]:
my_portfolio_df.info()

In [ ]:
my_portfolio_df.shape

In [ ]:
my_portfolio_df.columns

In [ ]:
my_portfolio_df.index

In [ ]:
my_portfolio_df['average_buy_price'].values

#### Access a column in a dataframe 

You can access or retrieve a single or multiple columns by their names or by their location.

In [ ]:
my_portfolio_df

In [ ]:
my_portfolio_df["quantity_owned"]

In [ ]:
my_portfolio_df.quantity_owned

In [ ]:
my_portfolio_df[["quantity_owned","average_buy_price"]]

#### Selecting Row

In [ ]:
my_portfolio_df.loc['OCBC']

In [ ]:
my_portfolio_df.iloc[3]

In [ ]:
my_portfolio_df.loc[['DBS','OCBC','UOB']]

In [ ]:
my_portfolio_df.iloc[[3,5,7]]

In [ ]:
my_portfolio_df.iloc[3:7]

#### Activity: Selecting Row and Column

- Import the Singtel stock data from Yahoo FInance from 2017 to 2021
- Select the Close and Open price from 2021-11-15 to 2021-11-30

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock.loc[___________________]

#### Solution: Selecting Row and Column

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock.loc['2021-11-15':, ['Close', 'Open']]

#### Sort a dataframe using a column 

Sometimes it becomes necessary to sort a stock price dataframe, based on the 'Closing Price'.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned"],index=stock_list)

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(by="quantity_owned", ascending=False)
my_portfolio_df

#### Activity: Sort Data

- Sort the data by market cap 
- List the top five stocks with highest market cap

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=_______________________,index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(___________________)
my_portfolio_df

In [ ]:
my_portfolio_df.iloc[_____________]

#### Solution: Sort Data

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df = my_portfolio_df.sort_values(by="market_cap", ascending=False)
my_portfolio_df

In [ ]:
my_portfolio_df.iloc[:5]

### Filtering Data

In [ ]:
my_portfolio_df[my_portfolio_df['market_cap']>20]

In [ ]:
my_portfolio_df[(my_portfolio_df["market_cap"] > 20) & (my_portfolio_df["quantity_owned"] < 1000)]

In [ ]:
my_portfolio_df[my_portfolio_df["quantity_owned"] == 1000]

In [ ]:
my_portfolio_df.loc[["DBS", "UOB"], :]

### Activity: Filtering Data

Filter the stock data with the following criteria:
market capitalization more than 10
stock quantity less than 500
stock price is below $10

In [ ]:
my_portfolio_df[(my_portfolio_df[_________________________]

#### Solution: Filtering Data

In [ ]:
my_portfolio_df[(my_portfolio_df["market_cap"] > 10) & (my_portfolio_df["quantity_owned"] < 500) & (my_portfolio_df["average_buy_price"] < 10)]

### Data Cleaning

### DataFrame.isnull()

This method returns a Boolean result.<br>
<br>
It will return 'True' if the data point has a 'NaN' (Not a Number) value. Missing data is represented by a NaN value.

In [ ]:
import numpy as np
NaN = np.nan

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,NaN,200,800,300,3000,1000,NaN,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,NaN,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.isnull()

#### DataFrame.dropna()

This method remove the missing data

In [ ]:
my_portfolio_df.dropna()

#### DataFrame.fillna()

The .fillna() method will fill all the 'NaN' values of the entire dataframe or of the requested columns with a scalar value of your choice.

In [ ]:
import numpy as np
NaN = np.nan

stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,NaN,200,800,300,3000,1000,NaN,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,NaN,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.fillna(0)

In [ ]:
my_portfolio_df.fillna(method='pad')

In [ ]:
my_portfolio_df.fillna(method='backfill')

### Activity: Missing Data

- Check for dataframe for missing data 
- Impute the missing data with 'pad' or 'backfill'

In [ ]:
NaN = np.nan
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,NaN,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,NaN,40.29,11.80,16.70,45.14,5.49,NaN,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df._________________

In [ ]:
my_portfolio_df.________________________

### Solution: Missing Data

In [ ]:
NaN = np.nan
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,NaN,20.95,11.39,9.07,2.38,NaN,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,NaN,40.29,11.80,16.70,45.14,5.49,NaN,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.isnull()

In [ ]:
my_portfolio_df.fillna(method='backfill')

## Topic 2.2 Data Transformation

### Joining Data

#### Concat Data

In [ ]:
start_date = '2017-01-01'
end_date = '2018-12-31'
ticker = 'Z74.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.concat([stock1,stock2],axis=0)

In [ ]:
stock3.head()

In [ ]:
stock3.tail()

#### Append Data

In [ ]:
start_date = '2017-01-01'
end_date = '2018-12-31'
ticker = 'Z74.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2020-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = stock1.append(stock2)

In [ ]:
stock3.head()

In [ ]:
stock3.tail()

#### Activity: Joining Data

- Import the DBS stock data from 2017-01-01 to 2019-12-31
- Import another DBS stock data from 2020-01-01 to 2021-11-30
- Join the two data sets from 2017-01-01 to 2021-11-30

In [ ]:
start_date = __________
end_date = ________
ticker = ___________'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = __________
end_date = ________
ticker = ___________'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = _______________________

In [ ]:
stock3.tail()

In [ ]:
stock3.head()

#### Solution: Joining Data

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2020-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.concat([stock1,stock2],axis=0)

In [ ]:
stock3.tail()

In [ ]:
stock3.head()

#### Merging Data

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

In [ ]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                      'C': ['C0', 'C1', 'C2', 'C4'],
                      'D': ['D0', 'D1', 'D2', 'D4']})
right

In [ ]:
result = pd.merge(left, right, on='key')
result

In [ ]:
result = pd.merge(left, right, on='key',how='inner')
result

In [ ]:
result = pd.merge(left, right, on='key',how='outer')
result

In [ ]:
result = pd.merge(left, right, on='key',how='left')
result

In [ ]:
result = pd.merge(left, right, on='key',how='right')
result

#### Activiity: Merging Data

- Import the DBS stock data from 2017-01-01 to 2019-12-31
- Import another DBS stock data from 2019-01-01' to 2021-11-30
- Merge the two data sets on Date using inner join

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.merge(stock1, stock2, on='Date',how='inner')
stock3.head()

#### Solution: Merging Data

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
stock1 = yf.download(ticker,start=start_date, end=end_date)
stock1.tail()

In [ ]:
start_date = '2019-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
stock2 = yf.download(ticker,start=start_date, end=end_date)
stock2.tail()

In [ ]:
stock3 = pd.merge(stock1, stock2, on='Date',how='inner')
stock3.head()

### Grouping Data and Aggregation

Any groupby operation involves one of the following operations on the original dataframe/object. They are:
<br>
1. <b>Splitting</b> the data into groups based on some criteria.<br>
<br>
2. <b>Applying</b> a function to each group separately.<br>
<br>
3. <b>Combining</b> the results into a single dataframe.<br>
<br>
Splitting the data is pretty straight forward. What adds value to this split is the 'Apply' step. This makes 'Groupby' function interesting. In the apply step, you may wish to do one of the following: <br>
<br>
a. Aggregation − Computing a summary statistic. Eg: Compute group sums or means.<br>
<br>
b. Transformation − performs some group-specific operation. Eg: Standardizing data (computing z-score) within the group.<br> 
<br>
c. Filtration − discarding the data with some condition.<br> 
<br>
Let us now create a DataFrame object and perform all the operations on it.

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]
position =["Buy","Sell","Sell","Sell","Buy","Buy","Buy","Sell","Buy","Sell","Buy","Sell"]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'position': position
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","position"],index=stock_list)
my_portfolio_df

In [ ]:
my_portfolio_df.groupby('sector').count()

In [ ]:
my_portfolio_df.groupby('sector').market_cap.mean()

In [ ]:
my_portfolio_df.groupby(['sector','quantity_owned']).mean()

In [ ]:
my_portfolio_df.groupby('sector').sum()

In [ ]:
my_portfolio_df.groupby('sector').agg(['count', 'mean','sum'])

In [ ]:
my_portfolio_df.groupby('sector').agg(lambda x:max(x)-min(x))

### Activitiy: Groupby

Compute the total number of stocks purchased for each sector.

In [ ]:
my_portfolio_df.groupby(____________)[____________]._____________)

### Solution: Groupby

In [ ]:
my_portfolio_df.groupby('sector')['quantity_owned'].sum()

#### Pivoting Data

In [ ]:
my_portfolio_df.pivot(values="quantity_owned", columns="position")

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index=["sector"], columns=["position"])

#### Activity: Pivot Table

Create a pivot table and compute the average buy price for each sector

In [ ]:
pd.pivot_table(_______________________)

#### Solution: Pivot Table

In [ ]:
pd.pivot_table(my_portfolio_df, values="average_buy_price", \
               aggfunc="mean",index=["sector"], columns=["position"])

## Topic 2.3 Data Visualization

#### Line Plot

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs['Close'].plot()
plt.ylabel('Close Price')

#### Activity: Scatter Plot

- Download the Singtel and DBS historical stock market price
- Create a scatter plot between Singtel and DBS closing stock price.

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel = singtel['Close']

df = pd.DataFrame(_______________)
df.plot.____________________________

#### Solution: Scatter Plot

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel = singtel['Close']

df = pd.DataFrame({'dbs_stock':dbs,'singtel_stock':singtel})
df.plot.scatter(x="dbs_stock", y="singtel_stock",alpha=0.5)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs = dbs['Close']

start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'U11.SI'
uob = yf.download(ticker,start=start_date, end=end_date)
uob = uob['Close']

df = pd.DataFrame({'dbs_stock':dbs,'uob_stock':uob})
df.plot.scatter(x="dbs_stock", y="uob_stock",alpha=0.5)

#### Bar Plot

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
data

In [ ]:
data.groupby('economic_sector')['no_of_businesses'].sum().plot.barh()
plt.xlabel('No of Business')

#### Activity: Bar Plot

- Import the economic data from https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv
- Create a bar plot of # of businesses for each year

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
data.groupby(___________________)
plt.xlabel('No of Business')

#### Solution: Bar Plot

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')
data.groupby(['financial_year'])['no_of_businesses'].sum().plot.barh()
plt.xlabel('No of Business')

#### Stacked Bar Plot

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]
position =["Buy","Sell","Sell","Sell","Buy","Buy","Buy","Sell","Buy","Sell","Buy","Sell"]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'position': position
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","position"],index=stock_list)
my_portfolio_df

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index="position",columns="sector").plot.bar()

plt.ylabel('stock quality')

In [ ]:
pd.pivot_table(my_portfolio_df, values="quantity_owned", \
               aggfunc="sum",index="position",columns="sector").plot.bar(stacked=True)

plt.ylabel('stock quality')

### Pie Plot

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/tertiarycourses/datasets/master/gst-by-economic-sector.csv')

plt.figure(figsize=(10,10))
data.groupby(['economic_sector'])['no_of_businesses'].sum().plot.pie()
plt.ylabel('')

### Boxplot

In [ ]:
my_portfolio_df.pivot(columns='sector',values='average_buy_price').plot.box()

### Area Plot

In [ ]:
pd.pivot_table(my_portfolio_df, values="average_buy_price", \
               aggfunc="mean",index="sector",columns="position").plot.area()

### Histogram

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs.Close.plot.hist(bins=25)
plt.xlabel('Stock Price')

### Activity: Histogram

- Download the Singtel historical stock price from Yahoo Finance.
- Plot a histogram of Singtel Close stock price

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel.____________________________
plt.xlabel('Stock Price')

### Solution: Histogram

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)
singtel.Close.plot.hist(bins=25)
plt.xlabel('Stock Price')

## Topic 2.4 Data Analysis

#### Descriptive Statistics

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
stock = yf.download(ticker,start=start_date, end=end_date)

stock.Close.describe()

#### DataFrame.count()

This method returns the number of non-null observations over the requested observations.

In [ ]:
stock.count()

#### DataFrame.min()

This method returns the minimum value over the requested observations

In [ ]:
stock.min()

#### DataFrame.max()

This method returns the maximum value over the requested observations.

In [ ]:
stock.max()

#### DataFrame.mean()

The mean of a set of observations is the arithmetic average of the values. 

This method returns the mean of the requested observations.

In [ ]:
stock.mean()

#### DataFrame.median()

The median is a statistical measure that determines the middle value of a dataset listed in ascending order.

This method returns the median of the requested observations.

In [ ]:
stock.median()

#### DataFrame.mode()

The mode is the value that appears most frequently in a data set. 

This method returns the mode of the requested observations.

In [ ]:
stock.mode()

#### DataFrame.sum()

This method returns the sum of all the values of the requested observations.

In [ ]:
stock.sum()

#### DataFrame.diff()

This method returns the 'difference' between the current observation and the previous observation.

In [ ]:
stock.diff()

#### DataFrame.pct_change()]

This method returns the percentage change of the current observation with the previous observation.

In [ ]:
stock.pct_change()

#### DataFrame.var()

Variance is a statistical measurement of the spread between numbers in a data set.

This method returns the variance of the requested observations.

In [ ]:
stock.var()

#### DataFrame.std()

Standard deviation is a statistical measure that measures the dispersion of a dataset relative to its mean.


This method returns the standard deviation of the requested observations.

In [ ]:
stock.std()

#### DataFrame.rolling(window=).mean()

A moving average(also known as rolling average) is a calculation used to analyze data points by creating a series of averages of different subsets of the full data set. It is commonly used as a technical indicator.

This method helps us to calculate the moving average of the observations.

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 5))

stock["Close"].rolling(window=20).mean().plot()
stock["Close"].plot()

plt.ylabel('Closing Price')
plt.show()

#### DataFrame.expanding(min_periods=).mean()

This method returns the 'expanding' mean of the requested observations.

A common alternative to rolling mean is to use an expanding window mean, which returns the value of the mean with <b>all the observations avaliable up to that point in time.</b>

In [ ]:
stock["Close"].expanding(min_periods=20).mean()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 5))

stock["Close"].expanding(min_periods=20).mean().plot()
stock["Close"].plot()

plt.ylabel('Closing Price')

plt.show()

#### Activitiy: Rolling Window Average

- Import the Singtel stock close data from Yahoo from 2017 to 2021
- Overlay the raw data, rolling window, expanding window

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
plt.figure(figsize=(10,5))
dbs['Close'].plot()
dbs['Close']._____________________________
dbs['Close'].________________________
plt.show()

#### Solution: Rolling Window Average

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
plt.figure(figsize=(10,5))
dbs['Close'].plot()
dbs['Close'].rolling(window=20).mean().plot()
dbs['Close'].expanding(min_periods=10).mean().plot()
plt.show()

#### DataFrame.cov()

Covariance is a statistical measure that is used to determine the relationship between the movement of two asset prices.

This method returns the covariance between the closing price of the DBS stock with the closing price of the UOB stock.

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'U11.SI'
uob = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs["Close"].cov(uob["Close"])

#### DataFrame.corr()

Correlation is a statistical measure that expresses the extent to which two variables are linearly related.

This method returns the correlation between the closing price of the DBS stock with the closing price of the UOB stock.

In [ ]:
dbs["Close"].corr(uob["Close"])

#### Activity: Covariance and Correlation

- Import the DBS and Singtel stock close data from Yahoo from 2017 to 2021
- Compute the covariance and correlation between DBS and Singtel stock closing price

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
start_date = '2017-01-01'
end_date = '2021-11-30'
ticker = 'Z74.SI'
singtel = yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs["Close"]._______________________

In [ ]:
dbs["Close"].____________________

#### Solution: Covariance and Correlation

In [ ]:
dbs["Close"].cov(singtel["Close"])

In [ ]:
dbs["Close"].corr(singtel["Close"])

#### DataFrame.kurt()

Kurtosis is a statistical measure that defines how heavily the tails of a distribution differ from the tails of a normal distribution.

This method returns unbiased kurtosis over the requested data set using Fisher's definition of kurtosis (where kurtosis of normal distribution = 0)

A negative kurtosis value indicates a platykurtic distribution. Such a distribution will have thinner tails, resulting in fewer extreme positive or negative events.

In [ ]:
dbs["Close"].kurt()

#### DataFrame.skew()

In statistics, skewness is a measure of the asymmetry of the distribution of a variable about its mean.

This method unbiased skew over the requested data set.

In [ ]:
dbs["Close"].skew()

## Topic 2.5 Advanced Data Analytics

### Pipe

In [ ]:
start_date = '2017-01-01'
end_date = '2019-12-31'
ticker = 'D05.SI'
dbs = yf.download(ticker,start=start_date, end=end_date)
dbs

In [ ]:
dbs.loc['2019-01-01':'2019-12-30']

In [ ]:
def load_data(ticker, start_date,end_date):
    return yf.download(ticker,start=start_date, end=end_date)

In [ ]:
dbs = load_data('D05.SI','2021-01-01','2021-11-30')
dbs

In [ ]:
def filter_data(df):
    start = '2021-01-01'
    end = '2021-06-01'
    return df.loc[start:end]

In [ ]:
dbs_filtered = filter_data(dbs)
dbs_filtered

In [ ]:
def plotbar(df):
    df['Close'].plot()
    plt.xlabel('Days')
    plt.ylabel('Price')

In [ ]:
plotbar(dbs_filtered)

In [ ]:
dbs_pipe =(
    load_data('D05.SI','2021-01-01','2021-11-30')
    .pipe(filter_data)
    .pipe(plotbar)
)

#### Activity: Pipe

- Create a pipe to load the UOB stock data from Yahoo Finance
- Filter only the Open and Close data
- Plot the Open and Close data

In [ ]:
def load_data(ticker, start_date,end_date):
    _____________________
    return stock

In [ ]:
def plotbar(df):
    __________________

In [ ]:
uob_pipe =(
    ____________________
)

#### Solutoin: Pipe

In [ ]:
def load_data(ticker, start_date,end_date):
    stock = yf.download(ticker,start=start_date, end=end_date)
    stock = stock[['Open','Close']]
    return stock

In [ ]:
def plotbar(df):
    df.plot()
    plt.xlabel('Days')
    plt.ylabel('Price')

In [ ]:
uob_pipe =(
    load_data('U11.SI','2019-01-01','2021-11-30')
    .pipe(plotbar)
)

### Apply

In [ ]:
df = pd.DataFrame([[9, 25]] * 3, columns=['P', 'Q'])
df

In [ ]:
df.apply(np.sqrt)

In [ ]:
stock_list = ['DBS','Haw Par','Jardine C&C','OCBC','SGX','Singtel','ST Engineering',\
              'Thai Beverage','UOB','Venture','Wilmar','YZJ Shipbldg']
sector = ['Finance','Healthcare','Transport','Finance','Finance','Technology','Technology',\
              'Food','Finance','Finance','Food','Transport']
dividend = ['Yes','No','No','Yes','No','Yes','No',\
              'Yes','No','No','No','Yes']            
stock_qty = [300,100,200,800,300,3000,1000,1000,300,100,1000,1000]
avg_price=[31.23,11.50,20.95,11.39,9.07,2.38,3.78,0.66,26.61,18.68,4.15,1.30]
mkt_cap =[82.54,2.52,8.39,51.24,10.11,40.29,11.80,16.70,45.14,5.49,26.76,5.20]

my_portfolio = {
    "quantity_owned": stock_qty,
    "average_buy_price": avg_price,
    'market_cap':mkt_cap,
    'sector':sector,
    'dividend':dividend
}

my_portfolio_df = pd.DataFrame(my_portfolio,columns=["average_buy_price","quantity_owned","market_cap","sector","dividend"],index=stock_list)
my_portfolio_df

In [ ]:
SGD2USD = 1.4
my_portfolio_df['average_buy_price'] = my_portfolio_df['average_buy_price'].apply(lambda x:x/SGD2USD)
my_portfolio_df

#### Activity: Apply

Use apply to create a new column in the dataframe - total_investment = stock price*stock quantity

In [ ]:
my_portfolio_df['total_investment'] = _______________________________
my_portfolio_df

#### Solution: Apply

In [ ]:
my_portfolio_df['total_investment'] = my_portfolio_df.apply(lambda x:x.average_buy_price*x.quantity_owned, axis=1)
my_portfolio_df